body {
    font-family: var(--font-main);
}

/* section ко всем блокам */
.section {
    padding: 0 var(--spacing-sides-section) 0 var(--spacing-sides-section);
}

/* первый блок */
.section-1 {
    background-color: var(--hintergrund-color);
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 53px 0 131px 0;
    gap: 180px;
}

.header-content {
    display: flex;
    flex-direction: column;
}

.logo {
    margin: 0 0;
    font-weight: 700;
    font-size: 45px;
    line-height: 54px;
    color: var(--schrift-color);
}

.header-content h1 {
    color: var(--schrift-color);
    font-weight: 700;
    font-size: 55px;
    line-height: 67px;
    margin-top: 76px;
}

.header-content p {
    font-weight: 500;
    font-size: 22px;
    line-height: 27px;
    color: var(--schrift-color);
    margin-top: 36px;
}

.section1-button {
    margin-top: 31px;
    background-color: var(--button-color);
    border: none;
    padding: 19px 0;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    width: 286px;
    color: #ffffff;
    cursor: pointer;
    transition: 0.3s;
}

.section1-button:hover {
    background-color: var(--button-hover-color);
}

.section-1-images {
    position: relative;
    width: 550px;
    height: 430px;
}


.img-big {
    width: 100%;
    max-width: 428px;
    height: 394px;
    display: block;
}


.img-small {
    position: absolute;
    width: 100%;
    max-width: 306px;
    height: 290px;
    bottom: -74px;
    left: -92px;
    z-index: 2;
}

/* второй блок */


.section-2 {
    display: flex;
    justify-content: space-between;
    gap: 201px;
    align-items: center;
    background-color: var(--second-hintergrund-color);
    padding-top: 105px;
    padding-bottom: 116px;
}

.section-2-image {
    width: 100%;
}

.section-2-image img {
    width: 100%;
    max-width: 428px;
    height: auto;
    max-height: 460px;
}

.section-2-contents {
    display: flex;
    flex-direction: column;
    gap: 55px;

}

.section-2-paragraphs {
    display: flex;
    flex-direction: column;
}

.section-2-title {
    margin-bottom: 85px;
    font-weight: 700;
    font-size: 28px;
    line-height: 34px;
}

.section-2-text {
    font-weight: 500;
    font-size: 22px;
    line-height: 27px;
}

.section-2-contents>hr {
    border: 1px solid #000000;
    opacity: 1;
}

.section-2-button {
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    background-color: transparent;
    border: none;
    align-self: flex-start;
    display: inline-flex;
    align-items: center;
    gap: 12px;
    cursor: pointer;
    transition: color 0.3s ease;
}

.section-2-button span img {
    transition: transform 0.3s ease;
}

.section-2-button:hover span img {
    transform: translateX(6px);
}

/* третий блок */

.section-3 {
    display: flex;
    justify-content: space-between;
    gap: 126px;
    align-items: center;
    background-color: var(--hintergrund-color);
    padding-top: 60px;
    padding-bottom: 69px;
}

.section-3-contents {
    display: flex;
    flex-direction: column;
    gap: 55px;
    width: 46%;
}

.section-3-paragraphs {
    display: flex;
    flex-direction: column;
}

.section-3-title {
    margin-bottom: 85px;
    font-weight: 700;
    font-size: 28px;
    line-height: 34px;
}

.section-3-text {
    font-weight: 500;
    font-size: 22px;
    line-height: 27px;
}

.section-3-contents>hr {
    border: 1px solid #000000;
    opacity: 1;
}

.section-3-button {
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    background-color: transparent;
    border: none;
    align-self: flex-start;
    display: inline-flex;
    align-items: center;
    gap: 12px;
    cursor: pointer;
    transition: color 0.3s ease;
}

.section-3-button span img {
    transition: transform 0.3s ease;
}

.section-3-button:hover span img {
    transform: translateX(6px);
}

.section-3-image {
    width: 100%;
    max-width: 493px;
    height: auto;
    max-height: 593px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
    padding: 32px;

}

.section-3-image img {
    width: 100%;
    max-width: 428px;
    height: auto;
    max-height: 440px;
}

.section-3-image span {
    margin-top: 33px;
    font-weight: 500;
    font-size: 22px;
    line-height: 27px;
    color: var(--button-color);
}