body {
    font-family: var(--font-main);
}

/* -------------------------------- */
/* SECTION 1 */
/* -------------------------------- */
.section-1 {
    background-color: var(--hintergrund-color);
    padding: 53px 0 131px 0;
}

.logo {
    font-size: 45px;
    font-weight: 700;
    color: var(--schrift-color);
}

.hero-title {
    font-size: 55px;
    line-height: 67px;
    font-weight: 700;
    color: var(--schrift-color);
}

.hero-description {
    font-size: 22px;
    line-height: 27px;
    color: var(--schrift-color);
}

.section1-button {
    width: 286px;
    padding: 19px 0;
    background: var(--button-color);
    border: none;
    color: #fff;
    font-size: 22px;
    font-weight: 700;
    cursor: pointer;
    transition: 0.3s;
}

.section1-button:hover {
    background-color: var(--button-hover-color);
}

.hero-images-wrapper {
    width: 550px;
    height: 430px;
}

.img-big {
    width: 428px;
    height: 394px;
}

.img-small {
    width: 306px;
    height: 290px;
    bottom: -74px;
    left: -92px;
    z-index: 2;
    transition: transform 0.3s ease;
}

/* -------------------------------- */
/* SECTION 2 */
/* -------------------------------- */
.section-2 {
    background-color: var(--second-hintergrund-color);
}

.section-2-image {
    width: 428px;
    height: 460px;
    object-fit: cover;
}

.section-2-title {
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 85px;
}

.section-2-text {
    font-size: 22px;
    line-height: 27px;
}

.section-2-line {
    border: 1px solid #000;
    opacity: 1;
    margin: 30px 0;
}

.section-2-button {
    font-size: 22px;
    border: none;
    background: transparent;
    cursor: pointer;
    font-weight: 700;
    display: inline-flex;
    align-items: center;
    gap: 12px;
}

.arrow-img {
    transition: transform 0.3s ease;
}

.section-2-button:hover .arrow-img {
    transform: translateX(6px);
}

/* -------------------------------- */
/* SECTION 3 */
/* -------------------------------- */
.section-3 {
    background-color: var(--hintergrund-color);
}

.section-3-title {
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 85px;
}

.section-3-text {
    font-size: 22px;
    line-height: 27px;
}

.section-3-line {
    border: 1px solid #000;
    opacity: 1;
    margin: 30px 0;
}

.section-3-button {
    font-size: 22px;
    font-weight: 700;
    border: none;
    background: transparent;
    display: inline-flex;
    align-items: center;
    gap: 12px;
    cursor: pointer;
}

.section-3-button:hover .arrow-img {
    transform: translateX(6px);
}

.section-3-imagebox {
    background: #fff;
    padding: 32px;
    max-width: 493px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-3-image {
    /* max-width: 428px; */
    max-height: 440px;
}

.section-3-imagebox span {
    margin-top: 33px;
    font-size: 22px;
    color: var(--button-color);
}