:root {
    --hintergrund-color: #F5EDE0;
    --button-color: #E2C08D;
    --button-hover-color: #d3b383;
    --schrift-color: #3D3D3D;
    --second-hintergrund-color: #EEE3D0;
    --font-main: "Inter", sans-serif;
    --spacing-sides-section: 101px;
}